@model bool
@{
    ViewData["Title"] = "Confirmação de Conta";
    ViewData["SubTitle"] = Model ? "Conta Confirma com Sucesso" : "Problema ao Confirmar Conta";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="carc-body texte=-center text-white">
    <h4 class="mb-2"> As Melhores Receitas da Internet estão aqui!</h4>
    @if (Model)
    {
        <p class="mb-4 fs-5">Obrigado por confirmar seu email, clique no botão abaixo para entrar!</p>
        <a asp-action="Login" asp-controller="Account" class="bnt bnt-danger text-white">Ir para o Login</a>
    }
    else 
    {
        <p class="mb-4 fs-5">Infelizmente ocorreu um problema com a confirmação de sua conta! Entre em contato para solucionarmos
            seu problema
        </p>
    }

</div>